@import "~bootstrap/scss/variables";

/*html, body {
	height: 100%;
}*/

.list-group-item.active.nofocus, .text-really-muted {
    -webkit-filter: opacity(60%); 
    filter: opacity(60%);
}
.rounded-0 {
    border-radius: 0!important;
}


a:focus, a:hover {
    text-decoration: none;
}

/*
 a.card-header:hover, a.card-header:focus {
	text-decoration: none;
}
*/



.menu-button {
	cursor: pointer;
	background-color: $gray-dark !important;
	color: white !important;
	border: 0 solid !important;
	box-shadow: none !important;

	&.active, &:hover {
		color: $brand-info !important;
	}
}


.truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-count {
	position: absolute; 
	margin-top: -7px;
	margin-left: -10px;
}

.badge-fw {
	display: inline-block;
	text-align: center;
	/*match fa-fw*/
	width: 1.71429em;
	border: 1px solid;
}

.badge-muted {
	background-color: $text-muted;
	color: $white;
}

.text-muted {
	
	.badge-primary.badge-fw {
		background-color: $text-muted;
		color: $white;
	}
}

.model-element-disabled {
	.model-element-name {		
		text-decoration: line-through;
	}
}

.model-element-not-editable {
		opacity: .65;
}


.active {
	
	.badge-muted.badge-fw {
		background-color: $white;
		color: $text-muted;
	}


	.badge-primary.badge-fw {
		background-color: $white;
		color: $brand-primary;
	}
}

a.text-primary:focus, a.text-primary:hover {
	.badge-fw {
  		background-color: darken($brand-primary, 10%) !important;
	}
}

a.text-muted:focus, a.text-muted:hover {
	.badge-fw {
  		background-color: darken($text-muted, 10%) !important;
	}
}

.bg-highlight {
	background-color: $yellow;
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 

    .fa {
	  position: absolute;
	  padding: 10px;
	  //pointer-events: none;
	  z-index: 10;
	  cursor: inherit;
	}

	.fa-close {
	  cursor: pointer;
	}

	&.inner-addon-sm {
		.fa {
		  padding: 5px;
		}
	}
}


/* align icon */
.left-addon {
	.fa  { left:  0px;}

	input  { padding-left:  30px; }
}
.right-addon {
	.fa { right: 0px;}

	input { padding-right: 30px; }
}

.table th, .table td {
    vertical-align: middle;
}